<div class="container">
  <div class="page-header">
    <h1>
      Shows
    </h1>
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <a data-toggle="collapse" href="#collapseShow" aria-expanded="false">Agregar nuevo show</a>
    <div class="collapse" id="collapseShow">
      <div class="input-group">
        <span class="input-group-addon">http://www.ticketek.com.ar/websource/show/</span>
        <input type="text" class="form-control" data-ng-model="ctrl.search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" data-ng-click="ctrl.searchShow()">Buscar</button>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Descripción" data-ng-model="ctrl.show.author" disabled>
      </div>

      <div class="input-group">
        <span class="input-group-addon">Fecha</span>
        <input type="text" class="form-control" placeholder="Fecha" data-ng-model="ctrl.show.date" disabled>
      </div>

      <div class="container">
        <p>Sectores</p>
        <ul class="list-group" data-ng-repeat="section in ctrl.show.sections">
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" data-ng-model="section.selected">
              </span>
              <input type="text" class="form-control" data-ng-model="section.description" disabled>
            </div>
          </li>
        </ul>
      </div>

      <button class="btn btn-primary" type="button" data-ng-click="ctrl.createNewJob()" data-ng-disabled="!ctrl.show || ctrl.noneSectionSelected()">Follow</button>
    </div>
  </div>

  <div class="panel panel-default" data-ng-repeat="job in ctrl.jobs">
    <div class="panel-heading">
      <h3 class="panel-title">{{job.name}}</h3>
      <a href="" data-ng-click="ctrl.archive(job)">Archivar</a>
    </div>
    <div class="panel-body">
      <p>{{job.author}} - {{job.date}}</p>
        <table class="table table-hover" data-ng-repeat="section in job.sections">
          <tr class="active">
            <td>{{section.description}} (${{section.full_price}})</td>
            <td><strong>{{section.section_availability}}</strong></td>
            <td><span am-time-ago="section.timestamp"></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="button" data-ng-click="ctrl.runJobs()" data-ng-disabled="ctrl.runningJob">Check!</button>
  <i class="fa fa-spinner fa-pulse fa-2x fa-fw" data-ng-show="ctrl.runningJob"></i>
  <span class="sr-only" data-ng-show="ctrl.runningJob">Loading...</span>
</div>


<div class="container">
  <div class="page-header">

  </div>
</div>
