<div class="container">
  <div class="page-header">
    <h1>
      Ticketek
    </h1>

    <i class="fa fa-spinner fa-pulse fa-2x fa-fw" data-ng-show="ctrl.quering"></i>
    <span class="sr-only" data-ng-show="ctrl.quering">Loading...</span>
  </div>

  <div class="panel panel-default" data-ng-repeat="performances in ctrl.shows">
    <div class="container-fluid panel-heading">
      <h3 class="panel-title col col-md-4">{{performances[0].name}} - {{performances[0].place.title}}</h3>
      <a href="" class="col col-md-8 text-right" data-ng-click="ctrl.follow(performances[0])">Follow</a>
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw" data-ng-show="performances[0].following"></i>
      <span class="sr-only" data-ng-show="performances[0].following">Loading...</span>
    </div>
    <div class="panel-body" data-ng-repeat="performance in performances">
      <p>{{performance.author}} - {{performance.date}}</p>
      <table class="table table-hover" data-ng-repeat="section in performance.sections">
        <tr class="active">
          <td class="col col-md-6">{{section.description}} (${{section.full_price}})</td>
          <td class="col col-md-6 text-right"><strong>{{section.section_availability}}</strong></td>
        </tr>
      </table>
    </div>
  </div>

</div>
